h2 {
    color:#f0f8ff;
    font-family: Arial;
}
body {
    background:url("C:/Users/joshl/OneDrive/Pictures/Industryware Logo (1).png") no-repeat;
    background-size: cover;
    background-position:center 87%;
}
.p1 {
    margin-top:600px;
}